<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
      </layout>
    </appender> 
	    
     <appender name="RollingFile" class="ch.qos.logback.core.FileAppender">
        <file>log/testFile.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

     <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="org.apache" level="ERROR" />
    <logger name="httpclient" level="ERROR" />

    <logger name="org.ccctc.droolslistener" level="DEBUG">
    </logger>
    
    <logger name="org.ccctc.common.droolsengine" level="DEBUG">
    </logger>
</configuration>
